* {
   margin: 0;
   padding: 0;
}

body{
   background: #e6e6e6;
}

header, .main, footer{
   background: #FFF;
   width: 90%;
   max-width: 1000px;
   margin: 20px auto;
}

header nav{
   background: #528fd5;
   overflow: hidden;
}

header nav li{
   list-style: none;
}

header nav ul li{
   float: left;
}


header nav ul li a{
   padding: 10px  10px;
   display: block;
   color: #FFF;
   text-decoration: none;
}

header nav ul li a:hover{
   background: #75ACEC;
}

.main .articles{
   width: 68%;
   display: inline-block;
   background: #FFF;
   margin-right: 1.5%;
   float: left;
}

aside{
   width: 30%;
   background: #FF8000;
   padding: 20px;
   float: left;
   box-sizing: border-box;
}

.main .articles article{
   padding: 20px;
   background: #FFF;
   margin-bottom: 20px;
   width: 94%;
}

footer{
   background: #fff;
   text-align: right;
   clear: both;
}
