div {
    width: 40%;
}

.menu{
    width: 100%;
    background: #CCC;
    margin: 0;
    padding: 0;
}

.menu li{
   display: inline-block; 
}

.menu li a{
    padding: 10px 10px;
    color: #000;
    display: inline-block;
}

.menu li a:hover{
    background: red;
}